$primary: #129283;

// section{
//     height: 100vh;
//     width: 100vw;
// }

#banner_page{
    background:linear-gradient(360deg, rgba(245, 245, 245, 0) 0%, rgba(203, 217, 226, 0.3828) 26.41%, rgba(175, 219, 219, 0.44) 54.38%, rgba(141, 185, 189, 0.3696) 77.81%, rgba(85, 151, 172, 0.3872) 100%);
   position: relative;
    .overlay-image{
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}











.cursor{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border:2px solid $primary;
    transition: transform 0.3s ease-out;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
  }
 

.scale{
    transform: scale(5);
}


.cur-grow{
    transform: scale(4);
    background: white;
    mix-blend-mode: difference; 
    border: none;
  }
  
.cur-grow-small{
    transform: scale(2);
    background: white;
    mix-blend-mode: difference; 
    border: none;
  }
  .grow, .grow-small{
    transform: scale(4);
    background: white;
    mix-blend-mode: difference; 
    border: none;
  }
  
  .grow-small{
    transform: scale(2);
  }

  .cfront{
    top:10%;
    z-index: 5;
    
  }

  .cback{
    top:10%;
    z-index: 2;
    transform: translateX(100px) rotate(10deg);
    scale: 0.95;
  }
















            .small-zig-zag{
                color: #797979;
                font-size: 1.25rem;
        position: relative;
      &::after{
        content: "";
        width: 44%;
        position: absolute;
        bottom: -10px;
        right: -56px;
        height: 14px;
        scale: 1;
        background: url(/src/assets/small-zig.png) no-repeat;
        background-size: contain;
      }
      
}
        
.nav-dots {
    width: 0.6rem;
    height: 0.6rem;
    margin: 0 0.2rem;
    border: none;
    border-radius: 1rem;
    background-color: #D3D3D3;
    cursor: pointer;
    transition: width 0.5s;
}

.active {
    width: 1.8rem;
    background-color: #959595;
}






.rocket1,.rocket2{
    position: absolute;
}
.rocket1{
    bottom: 10%;
    right: 10%;
    opacity: 35%;
    transform: rotate(-15deg);
}
.rocket2{
    left: 10%;
    bottom: 10%;
    opacity: 35%;
    transform: rotate(-62deg);
}
.globe1,.globe2{
    position: absolute;
    z-index: -1;
    opacity: 35%;
}
.globe1{
    top: 0;
    z-index: -1;
    right: 10%;
    scale: 0.8;
}
.globe2{
    top: 10%;
    left: 20%;
    height: 120px;
}
.plane{
    position: absolute;
    width: 90px;
    top: 50%;
    // left: 17%;
}
.coins{
    position: absolute;
}
.stamp1,.stamp2{
    position: absolute;
    z-index: -1;
    width: 40%;
}
.stamp1{
    bottom: 5%;
    right: 3%;

}
.stamp2{
    top: 0;
    left: 0%;
}
.swiper-slide {
    flex-shrink: 0;
    width: 69%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}



.congs-text{
position: relative;
color: #333333;

&::after{
    position: absolute;
    bottom: -25px;
    left: 0;
    content: "";
    height: 20px;
    width: 100%;
    background: url(./assets/zig-zag.png) no-repeat;

}
}
.form-zig{
    position: relative;
    background: url(./assets/form-sm-zig.png) no-repeat;
    width: 100%;
    background-size:80% 80%;
    background-position: center;
    padding: 1.5rem 0;


// &::after{
//     position: absolute;
//     bottom: -30px;
//     left: 147px;
//     content: "";
//     height: 120px;
//     width: 100%;
//     background: url(./assets/form-sm-zig.png) no-repeat;
//     object-fit: contain;

// }
}
.dol,.e,.yen,.wc,.euro,.rs{
    position: absolute;
}
.dol{
    top: 20%;
    left: 12%;
}
.e{
    right: 18%;
    top: 42%
}

.yen{
    top: 12%;
    right: 15%;
}
.wc{
    left: 20%;
    top: 45%;
}

.euro{
bottom: 10%;
left: 20%;
}
.rs{
    bottom: 15%;
    right: 12%;
}
@media screen and (max-width: 678px) {
    .congs-text{
        &::after{
            bottom: -17px;
            left: 10px;
            content: "";
            height: 20px;
            width: 90%;
        }
        }
        
       
    .nav-dots {
        width: 0.4rem;
        height: 0.4rem;
    }
    
    .active {
        width: 1.2rem;
    }
    .stamp2{
        top: 10%;
        left: -8%;
        z-index: -1;
    }
    .stamp1{
        bottom: 15%;
        right: -8%;
        z-index: -1;
    }
    .globe2 {
        top: 6%;
        left: -6%;
        mix-blend-mode: color;
        scale: 0.7;
    }
    .globe1 {
        top: 0%;
        z-index: -1;
        right: -22%;
        scale: 0.7;
    }
    .rocket1{
        height: 120px;
        opacity: 35%;
        transform: rotate(-9deg);
        height: 120px;
        opacity: 35%;
         transform: rotate(-9deg);
         bottom: 20%;
         right: -8%;
    }
    .rocket2{
        left: -8%;
        bottom: 30%;
        height: 120px;
        transform: rotate(-60deg);
    }
    .dol{
        top: 20%;
        left: 4%;
    }
    .e{
        right: 8%;
        top: 42%
    }
    
    .yen{
        top: 19%;
        right: 8%;
    }
    .wc{
        left: 8%;
        top: 45%;
    }
    
    .euro{
    bottom: 20%;
    left: 10%;
    }
    .rs{
        bottom: 20%;
        right: 12%;
    }
}

.swiper-button-prev{
    color: #129283 !important;
}
.swiper-button-next{
    color: #129283 !important; 
}







// .loader {
//     width: 48px;
//     height: 48px;
//     margin: auto;
//     position: relative;
//   }
  
//   .loader:before {
//     content: '';
//     width: 48px;
//     height: 5px;
//     background: #00000057;
//     position: absolute;
//     top: 60px;
//     left: 0;
//     border-radius: 50%;
//     animation: shadow 0.5s linear infinite;
//     opacity: 1;
//   }
  
//   .loader:after {
//     content: '';
//     width: 100%;
//     height: 100%;
//     background: #129283;
//     position: absolute;
//     top: 0;
//     left: 0;
//     border-radius: 4px;
//     animation: jump 0.5s linear infinite;
//   }
  
//   @keyframes jump {
//     15% {
//       border-bottom-right-radius: 3px;
//     }
  
//     25% {
//       transform: translateY(9px) rotate(22.5deg);
//     }
  
//     50% {
//       transform: translateY(18px) scale(1, .9) rotate(45deg);
//       border-bottom-right-radius: 40px;
//     }
  
//     75% {
//       transform: translateY(9px) rotate(67.5deg);
//     }
  
//     100% {
//       transform: translateY(0) rotate(90deg);
//     }
//   }
  
//   @keyframes shadow {
//     0%,
//       100% {
//       transform: scale(1, 1);
//     }
  
//     50% {
//       transform: scale(1.2, 1);
//     }
//   }

  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.car-fix{
    overflow: initial !important;
}